article { background-color: transparent; }

article h1 {
    text-align: center;
    cursor: text;
    margin-bottom: 100px;
}

article p { color: whitesmoke; }

@media screen and (max-width: 850px) {
    article { width: 85%; }            
}

@media screen and (min-width: 851px) {
    .flex-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

article .paragraph-title {
    text-align: left;
    margin-top: 40px;
    margin-bottom: 20px;
}

.flex-wrapper img { margin-left: 20px; }

hr { margin: 100px 0 100px 0; }

a h2 {
    transition: all 0.3s ease-in-out;
    margin-top: -20px;
}

a h2:hover { color: #ff6387; }

.flex-wrapper .banner {
    height: 300px;
}

blockquote {
    padding-left: 15px;
    border-left: 7px solid #ccc;
    margin-bottom: 30px;
}

blockquote:before {
    color: #ccc;
    content: open-quote;
    font-size: 4em;
}

blockquote p {
    display: inline;
}
